* {
  background-color: rgb(247, 217, 222);
  justify-content: center;
}

#entirePage{
  background-image: url("https://raw.githubusercontent.com/batoulalkarim/status/bdd04dff9f57f15dcc0820d448979b27b892d6b5/src/images/inna-skosyreva-KVmGHhV1z4c-unsplash.jpg");
  background-size: cover;
}

body {
  margin: 0;
}

.profilePicture{
  height: 100%;
  width: 100%;
  background-size: cover;
}

.status{
  font-family: cursive;
  text-align: left;
  font-size: 50px;
  margin-left: 200px;
  margin-top: 50px;
  overflow: hidden;
  display: block;
}
.homeTopBar {
  display: block;
  min-width: 1000px;
  position:fixed;
  padding-bottom: 30px;
  padding-right: 50px;
}

.search {
  float: right;
  margin-top: -50px;
  display: block;
  width: 250px;
  height: 35px;
  margin-right: 20px;
}

.searchimg {
  height: 22px;
  float: right;
  margin-top: -45px;
  margin-right: 275px;
}

.homeContainer {
  margin-left: 300px;
  margin-right: 200px;;
  float: left;
  overflow: hidden;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 114%;
  
}

.navbar a {
  float: left;
  display: flex;
  color: #0a0a0a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  overflow: hidden;
  padding-right: -30px;
  background-color: rgb(160, 58, 121);
  border: solid;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: white;
  color: black;
}

.column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 140px;
  margin-bottom: -30px;
}

.lirating{
  border: solid;
  font-size: 25px;
  margin-right: 25%;
  margin-left: 25%;
}

.sort-bar{
  text-align: center;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.trophy {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block;
}

.profileCard {
  border: solid;
  border-color: rgb(218, 157, 167);
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  transition: 0.3s;
  margin-left: 300px;
  float: left;
  text-align: center;
  width: 550px;
  height: 600px;
  margin-bottom: 80px;
  
}
.commentsGoHere {
  border: 1px solid;
  border-color: gray;
  float: right;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
}
.commentsContainer {
  border: solid;
  border-color: rgb(218, 157, 167);
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 1050px;
    margin-right: 20;
    margin-bottom: 480px;
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    /* position: fixed; */
    width: 300px;
    height: 500px;
}

.commentsForm {
  text-align: center;
  display: flex; 
  
}

.commentInput {
  width: 200px;
}

.formOnBottom{
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}
.picCaption {
  text-align: left;
}

.ppc {
  max-width: 80%;
  max-height: 80%;
  margin-top: -10px;
}

.username {
  text-align: left;
  margin-top: -15px;
}

.commentsFormContainer {
  text-align: center;
  bottom: 10px;
}

.profileCard:hover {
  box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
}


.image {
  height: 80%;
  background-size: cover;
}
.cards {
  border: solid;
  border-color: rgb(218, 157, 167);
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  transition: 0.3s;
  margin: 30px;
  margin-bottom: 70px;
  float: left;
  text-align: center;
  width: 550px;
  height: 655px;
  display: block;
  background-color: rgb(218, 157, 167);
  
}

.cards:hover {
  box-shadow: 0px 4px 40px 0 rgba(250, 246, 3, 0.685);
}
.stars {
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
  text-align: left;
}

a {
  color: black;
}

.picCaption {
  text-align: left;
}

.ppc {
  max-width: 80%;
  max-height: 80%;
  margin-top: -10px;
}

.username {
  text-align: left;
  margin-top: -15px;
}

.rating-stars img {
  object-position: 0% 0;
  object-fit: cover;
  vertical-align: bottom;
  
}

.rating-stars {
  text-align: center;
}

.moveStars {
  margin-left: 200px;
  margin-top: -40px;
}

.moveSortbar {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}


.rating-form {
  background-color: rgb(247, 217, 222);
    height: 75px;
    position:fixed;
    text-align:center;
    top:0;
    width:25%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #000000;
    padding: 10px;
    box-shadow: 0px 5px 30px black;
    border-radius: 40px;
}

.rating-form * {
  margin-left: auto;
  margin-right: auto;
}

.profile-div {
  outline: none;
}

.profile-div * {
  outline: none;
}
.tophalfsuggested {
  float: left;
  display: flex;
  margin-right: 15%;
  margin-left: 50px;
  position: relative;
  color: gray;
  height: 10px;
}

.sflist {
  margin-left: 1050px;
  margin-top: 440px;
  border: solid;
  border-color: gray;
  color: black;
  position:absolute;
  width: 300px;
  position: fixed;
}

.suggestedFollow {
  border: solid;
  margin-left: 1000px;
  margin-right: 50;
  margin-bottom: -480px;
  margin-top: 220px;
  padding-bottom: 200px;
  display: block;
  position: relative;
  width: 300px;
  height: 0px;
  
}
.wrap {
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-top: -30px;
  
}

.suggestedWrap {
  position:fixed;

}

.yr{
  margin-left: 15px;
}

.userWrap {
  border: solid;
  margin-left: 1050px;
  margin-right: 20;
  margin-bottom: 480px;
  margin-top: 50px;
  padding-bottom: 100px;
  display: block;
  position: fixed;
  width: 300px;
  height: 10px;
}


.smallPic {
  height: 60px;
  border-radius: 50%;
  border-color: black;
}

.s_pic {
  margin-left: 5px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-color: black;
}

.thuser {
  float: right;
  margin-right: 29%;
  margin-top: 2px;
  position: relative;
  display: flex;
}

.thuser1 {
  float: right;
  margin-right: 27%; 
  margin-top: -40px;
  position: relative;
  display: flex;
}

.game-container {
  position: relative;
  display:block;
  margin: auto;
}

.expressions {
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: black;
}

.score {
  position: fixed;
  left: 50%;
  bottom: 306px;
}

.expressions * {
  height: 200px;
  width: 200px;
  background-color: transparent;
}

.big-expression {
  /* transform: translate(-50%, -50%); */
  position: fixed;
}

.center {
  display:block;
  margin: auto;
  text-align: center;
}

.flash {
  background-color: white;
}

.ylun {
  float: right;
  display: flex;
  margin-right: 50%;
  margin-top: 6px;
}

.yln {
  float: right;
  display: flex;
  margin-right: 30%;
  margin-top: -35px;
}

.ylf {
  float: right;
  margin-top: -55px;
  margin-left: 45px;
  color: rgb(93, 158, 201);
}

.fcun {
  float: right;
  display: flex;
  margin-right: 55%;
  margin-top: -60px;
}

.fcn{
  float: right;
  display: flex;
  margin-right: 70%;
  margin-top: -40px;
}

.fcf {
  float: right;
  margin-top: -50px;
  color: rgb(93, 158, 201);
}

.bun {
  float: right;
  margin-right: 41%;
  margin-top: 0px;
}

.bn {
  float: right;
  display: flex;
  margin-right: 40%;
  margin-top: -45px;
}

.bf {
  float: right;
  margin-top: -50px;
  color: rgb(93, 158, 201);
}
.ss {
  margin-left: 8px;
}
.headingNP {
    font-family: cursive;
    text-align: left;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 0px;
    overflow: hidden;
    display: block;
  }

.npForm {
  float: right;
  margin-top: 100px;
  margin-right: 50%;
  background-color: rgb(177, 116, 116);
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  border: solid;
  border-color: rgb(204, 117, 132);
  box-shadow: 0 25px 5px 0 rgba(163, 75, 75, 0.2);
  transition: 0.3s;
  
}

.checklist {
  border: solid;
  border-radius: 50%;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 90px;
  float: right;
  box-shadow: 0 25px 5px 0 rgba(139, 163, 75, 0.2);
  transition: 0.3s;
  /* background-color: white; */
  font-size: 15px;
  border-color: rgb(204, 117, 132);
  margin-left: 55%;
  /* margin-right: 11%; */
  margin-top: 100px;
  position: fixed;
  background-image: url("https://raw.githubusercontent.com/batoulalkarim/status/bdd04dff9f57f15dcc0820d448979b27b892d6b5/src/images/inna-skosyreva-KVmGHhV1z4c-unsplash.jpg");
  background-size: cover;
}

.npForm:hover {
  box-shadow: 0 25px 5px 0 rgba(203, 253, 65, 0.2);
}
.checklist:hover {
  box-shadow: 0 25px 5px 0 rgba(203, 253, 65, 0.2);
}

.npbgf{
  background-color: rgb(189, 138, 138);
}

.npbgft{
  margin-top: -100px;
  margin-bottom: 150px;
  text-align: center;  
  background-color: rgb(230, 177, 177);
}

.rankTitle {
    font-family: cursive;
    text-align: left;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 50px;
    overflow: hidden;
    display: block;
}


.cap1 {
  margin-right: 20px;
  margin-bottom: 20px;
}


#checklistTITLE {
 font-size: 20px;
 background-color: rgb(230, 177, 177);
 text-align: center;
}

.checklistli {
  background-color: rgb(187, 136, 136);
}